src/Debugging/VBDebugging/VBSample.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:vbsample" elementFormDefault="qualified" targetNamespace="urn:vbsample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="vBSection" type="tns:VBSample.VBSectionCT" />
	<xs:element name="vBSubSection" type="tns:VBSample.VBSubSectionCT" />
	<xs:complexType name="VBSample.VBSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="vBElement" type="tns:VBSample.VBElementCT">
				<xs:annotation>
					<xs:documentation>The VBElement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="vBCollection" type="tns:VBSample.VBCollectionCT">
				<xs:annotation>
					<xs:documentation>The VBCollection.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="dotNet" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DotNet.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="VBSample.VBElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="angular" use="required" type="xs:double">
			<xs:annotation>
				<xs:documentation>The Angular.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scholl" use="optional" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>The Scholl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="VBSample.VBCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="vBElement" type="tns:VBSample.VBElementCT">
				<xs:annotation>
					<xs:documentation>The VBElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VBSample.SchnollCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="scholl" use="optional" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>The Scholl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="VBSample.VBSubSectionCT">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
