src/Debugging/Demos/IsDefaultCollectionDemo.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Debugging.Demos" elementFormDefault="qualified" targetNamespace="urn:Debugging.Demos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="configurationSection1" type="tns:Debugging.Demos.ConfigurationSection1CT" />
	<xs:complexType name="Debugging.Demos.ConfigurationSection1CT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="demoElement" type="tns:Debugging.Demos.Demo1ElementCT">
				<xs:annotation>
					<xs:documentation>The Demo1Element Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="demo2Items" type="tns:Debugging.Demos.Demo2CollectionCT">
				<xs:annotation>
					<xs:documentation>The Demo2Items.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Debugging.Demos.Demo1CollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="demoElement" type="tns:Debugging.Demos.Demo1ElementCT">
				<xs:annotation>
					<xs:documentation>The Demo1Element Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Debugging.Demos.Demo1ElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="attribute1" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The attribute1.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="attribute2" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The attribute2.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Debugging.Demos.Demo2CollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="demo2Element" type="tns:Debugging.Demos.Demo2ElementCT">
				<xs:annotation>
					<xs:documentation>The Demo2Element Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Debugging.Demos.Demo2ElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="attribute21" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The attribute21.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
