src/Debugging/Inheritance.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="inherit" elementFormDefault="qualified" targetNamespace="inherit" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="schoolRegistrySection" type="tns:Inherit.SchoolRegistrySectionCT" />
	<xs:element name="abstractSection" type="tns:Inherit.AbstractSectionCT" />
	<xs:complexType name="Inherit.SchoolRegistrySectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="professors" type="tns:Inherit.ProfessorsCT">
				<xs:annotation>
					<xs:documentation>The Professors.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="student" type="tns:Inherit.StudentCT">
				<xs:annotation>
					<xs:documentation>The Student Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schoolName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SchoolName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="abstractProperty" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AbstractProperty.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Inherit.NamedElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Inherit.PersonCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="yearOfBirth" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The YearOfBirth.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="yearOfDeath" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The YearOfDeath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Inherit.StudentCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="grades" type="tns:Inherit.GradesCT">
				<xs:annotation>
					<xs:documentation>The Grades.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="yearOfBirth" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The YearOfBirth.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="yearOfDeath" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The YearOfDeath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Inherit.GradesCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="grade" type="tns:Inherit.GradeCT">
				<xs:annotation>
					<xs:documentation>The Grade Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Inherit.GradeCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="grade" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The GradeValue.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="class" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Class.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Inherit.ProfessorCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="student" type="tns:Inherit.StudentCT">
				<xs:annotation>
					<xs:documentation>The Student Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="yearOfBirth" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The YearOfBirth.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="yearOfDeath" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The YearOfDeath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Inherit.StudentsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="student" type="tns:Inherit.StudentCT">
				<xs:annotation>
					<xs:documentation>The Student Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Inherit.ProfessorsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="professor" type="tns:Inherit.ProfessorCT">
				<xs:annotation>
					<xs:documentation>The Professor Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Inherit.AbstractSectionCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="abstractProperty" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AbstractProperty.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
