src/Debugging/KeylessCollection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Debugging" elementFormDefault="qualified" targetNamespace="urn:Debugging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="keylessCollectionSection" type="tns:Debugging.KeylessCollectionSectionCT" />
	<xs:complexType name="Debugging.KeylessCollectionSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="collection" type="tns:Debugging.CollectionCT">
				<xs:annotation>
					<xs:documentation>The Collection.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Debugging.CollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="keylessElement" type="tns:Debugging.KeylessElementCT">
				<xs:annotation>
					<xs:documentation>The KeylessElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Debugging.KeylessElementCT">
	</xs:complexType>
</xs:schema>
