src/Debugging/Sample.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:sample" elementFormDefault="qualified" targetNamespace="urn:sample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SampleConfigurationGroup" type="tns:Sample.SampleConfigurationGroupCT" />
	<xs:complexType name="Sample.SampleConfigurationSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="foo" type="tns:Sample.FooCT">
				<xs:annotation>
					<xs:documentation>The Foo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="bars" type="tns:Sample.BarsCT">
				<xs:annotation>
					<xs:documentation>The Bars.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="samples" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Samples.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Sample.FooCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="baz" use="optional">
			<xs:annotation>
				<xs:documentation>The Baz.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Sample.BarsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="bar" type="tns:Sample.BarCT">
				<xs:annotation>
					<xs:documentation>The Bar Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Sample.BarCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="snap" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Snap.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="crackle" use="required" type="xs:float">
			<xs:annotation>
				<xs:documentation>The Crackle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Sample.SampleConfigurationGroupCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="sampleConfigurationSection" type="tns:Sample.SampleConfigurationSectionCT" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="LetterFlags">
		<xs:annotation>
			<xs:documentation>LetterFlags.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>A.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation>B.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation>C.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>D.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
