sample/Samples-CSharp/Samples.UI/ApplicationConfig.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Samples.UI.ApplicationConfig" elementFormDefault="qualified" targetNamespace="urn:Samples.UI.ApplicationConfig" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="samplesSection" type="tns:Samples.UI.ApplicationConfig.SamplesSectionCT" />
	<xs:complexType name="Samples.UI.ApplicationConfig.SamplesSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="sampleGroups" type="tns:Samples.UI.ApplicationConfig.SampleGroupListCT">
				<xs:annotation>
					<xs:documentation>The SampleGroups.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.UI.ApplicationConfig.SampleGroupCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="samples" type="tns:Samples.UI.ApplicationConfig.SampleListCT">
				<xs:annotation>
					<xs:documentation>The Samples.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="label" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Label.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.UI.ApplicationConfig.SampleGroupListCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="sampleGroup" type="tns:Samples.UI.ApplicationConfig.SampleGroupCT">
				<xs:annotation>
					<xs:documentation>The SampleGroup Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.UI.ApplicationConfig.SampleListCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="sample" type="tns:Samples.UI.ApplicationConfig.SampleCT">
				<xs:annotation>
					<xs:documentation>The Sample Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.UI.ApplicationConfig.SampleCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="label" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Label.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fileName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>Leave blank if this sample is generated on the fly (temporary).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Description.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isValid" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Indicates whether this sample should be demonstrating an error condition.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
