src/Debugging/IssueTests/Workitem9747.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Debugging.IssueTests" elementFormDefault="qualified" targetNamespace="urn:Debugging.IssueTests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="mailSection" type="tns:Debugging.IssueTests.MailSectionCT" />
	<xs:complexType name="Debugging.IssueTests.MailMessageCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="addRemoveClearMapRecipients" type="tns:Debugging.IssueTests.AddRemoveClearMapRecipientsCT">
				<xs:annotation>
					<xs:documentation>The AddRemoveClearMapRecipients.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="addRemoveClearMapAlternateRecipients" type="tns:Debugging.IssueTests.AddRemoveClearMapAlternateRecipientsCT">
				<xs:annotation>
					<xs:documentation>The AddRemoveClearMapAlternateRecipients.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="basicMapRecipients" type="tns:Debugging.IssueTests.BasicMapRecipientsCT">
				<xs:annotation>
					<xs:documentation>The BasicMapRecipients.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="basicMapAlternateRecipients" type="tns:Debugging.IssueTests.BasicMapAlternateRecipientsCT">
				<xs:annotation>
					<xs:documentation>The BasicMapAlternateRecipients.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="subject" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Subject.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Debugging.IssueTests.ReciepientCT">
		<xs:attribute name="address" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Address.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Debugging.IssueTests.AddRemoveClearMapRecipientsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Debugging.IssueTests.AddRemoveClearMapRecipientsClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Debugging.IssueTests.AddRemoveClearMapRecipientsRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Debugging.IssueTests.ReciepientCT">
				<xs:annotation>
					<xs:documentation>The Reciepient Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Debugging.IssueTests.AddRemoveClearMapRecipientsRemoveCT">
		<xs:attribute name="address" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Address.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Debugging.IssueTests.AddRemoveClearMapRecipientsClearCT" />
	<xs:complexType name="Debugging.IssueTests.MailSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="mail" type="tns:Debugging.IssueTests.MailMessageCT">
				<xs:annotation>
					<xs:documentation>The Mail.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Debugging.IssueTests.AddRemoveClearMapAlternateRecipientsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Debugging.IssueTests.AddRemoveClearMapAlternateRecipientsClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Debugging.IssueTests.AddRemoveClearMapAlternateRecipientsRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Debugging.IssueTests.ReciepientCT">
				<xs:annotation>
					<xs:documentation>The Reciepient Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Debugging.IssueTests.AddRemoveClearMapAlternateRecipientsRemoveCT">
		<xs:attribute name="address" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Address.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Debugging.IssueTests.AddRemoveClearMapAlternateRecipientsClearCT" />
	<xs:complexType name="Debugging.IssueTests.BasicMapAlternateRecipientsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="reciepient" type="tns:Debugging.IssueTests.ReciepientCT">
				<xs:annotation>
					<xs:documentation>The Reciepient Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Debugging.IssueTests.BasicMapRecipientsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="reciepient" type="tns:Debugging.IssueTests.ReciepientCT">
				<xs:annotation>
					<xs:documentation>The Reciepient Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
