src/Debugging/IssueTests/WorkItem6053.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Debugging.IssueTests" elementFormDefault="qualified" targetNamespace="urn:Debugging.IssueTests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="OuterSectionGroup" type="tns:Debugging.IssueTests.OuterSectionGroupCT" />
	<xs:element name="emailConfigSection" type="tns:Debugging.IssueTests.EmailConfigSectionCT" />
	<xs:complexType name="Debugging.IssueTests.OuterSectionGroupCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="ConfigurationSectionGroup1" type="tns:Debugging.IssueTests.ConfigurationSectionGroup1CT" />
			<xs:element minOccurs="0" maxOccurs="1" name="innerConfigurationSection" type="tns:Debugging.IssueTests.InnerConfigurationSectionCT" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Debugging.IssueTests.InnerConfigurationSectionCT">
		<xs:attribute name="testAttribute1" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TestAttribute1.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Debugging.IssueTests.ConfigurationSectionGroup1CT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="configurationSection1" type="tns:Debugging.IssueTests.ConfigurationSection1CT" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Debugging.IssueTests.ConfigurationSection1CT">
		<xs:attribute name="testAttribute2" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TestAttribute2.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Debugging.IssueTests.EmailConfigSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="emails" type="tns:Debugging.IssueTests.EmailCollectionCT">
				<xs:annotation>
					<xs:documentation>The Emails.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Debugging.IssueTests.EmailCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="email" type="tns:Debugging.IssueTests.EmailCT">
				<xs:annotation>
					<xs:documentation>The Email Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Debugging.IssueTests.EmailCT">
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="key" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
