sample/Samples-CSharp/Samples.Configuration/CollectionsSample.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Samples.Configuration.CollectionsSample" elementFormDefault="qualified" targetNamespace="urn:Samples.Configuration.CollectionsSample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="defaultCollDemoSection" type="tns:Samples.Configuration.CollectionsSample.DefaultCollDemoSectionCT" />
	<xs:element name="keylessCollectionSection" type="tns:Samples.Configuration.CollectionsSample.KeylessCollectionSectionCT" />
	<xs:complexType name="Samples.Configuration.CollectionsSample.DefaultCollDemoSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="demoElement" type="tns:Samples.Configuration.CollectionsSample.Demo1ElementCT">
				<xs:annotation>
					<xs:documentation>The Demo1Element Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="demo2Items" type="tns:Samples.Configuration.CollectionsSample.Demo2CollectionCT">
				<xs:annotation>
					<xs:documentation>The Demo2Items.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.CollectionsSample.Demo1CollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="demoElement" type="tns:Samples.Configuration.CollectionsSample.Demo1ElementCT">
				<xs:annotation>
					<xs:documentation>The Demo1Element Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.CollectionsSample.Demo1ElementCT">
		<xs:attribute name="attribute1" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Attribute1.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="attribute2" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Attribute2.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.CollectionsSample.Demo2CollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="demo2Element" type="tns:Samples.Configuration.CollectionsSample.Demo2ElementCT">
				<xs:annotation>
					<xs:documentation>The Demo2Element Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.CollectionsSample.Demo2ElementCT">
		<xs:attribute name="attribute21" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Attribute21.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.CollectionsSample.KeylessCollectionSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="items" type="tns:Samples.Configuration.CollectionsSample.KeylessElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Items.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.CollectionsSample.KeylessElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="keylessElement" type="tns:Samples.Configuration.CollectionsSample.KeylessElementCT">
				<xs:annotation>
					<xs:documentation>The KeylessElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.CollectionsSample.KeylessElementCT">
		<xs:attribute name="attr1" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Attr1.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="attr2" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Attr2.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
