sample/Samples-CSharp/Samples.Configuration/ExternalTypeSample.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Samples.Configuration.ExternalTypeSample" elementFormDefault="qualified" targetNamespace="urn:Samples.Configuration.ExternalTypeSample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="externalTypesComputerDemoSection" type="tns:Samples.Configuration.ExternalTypeSample.ExternalTypesComputerDemoSectionCT" />
	<xs:element name="ExternalTypesFooDemoGroup" type="tns:Samples.Configuration.ExternalTypeSample.ExternalTypesFooDemoGroupCT" />
	<xs:complexType name="Samples.Configuration.ExternalTypeSample.ExternalTypesComputerDemoSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="computerPackage" type="tns:Samples.Configuration.ExternalTypeSample.ComputerPackageElementCT">
				<xs:annotation>
					<xs:documentation>The computerPackage.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.ExternalTypeSample.ComputerPackageElementCT">
		<xs:attribute name="desktopBox" use="optional">
			<xs:annotation>
				<xs:documentation>The DesktopBox.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="accessoriesBox" use="optional">
			<xs:annotation>
				<xs:documentation>The AccessoriesBox.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.ExternalTypeSample.ExternalTypesFooDemoSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="foo" type="tns:Samples.Configuration.ExternalTypeSample.FooCT">
				<xs:annotation>
					<xs:documentation>The Foo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="bars" type="tns:Samples.Configuration.ExternalTypeSample.BarsCT">
				<xs:annotation>
					<xs:documentation>The Bars.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="samples" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Samples.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.ExternalTypeSample.BarsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="bar" type="tns:Samples.Configuration.ExternalTypeSample.BarCT">
				<xs:annotation>
					<xs:documentation>The Bar Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.ExternalTypeSample.BarCT">
		<xs:attribute name="snap" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Snap.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="crackle" use="required" type="xs:float">
			<xs:annotation>
				<xs:documentation>The Crackle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.ExternalTypeSample.FooCT">
		<xs:attribute name="baz" use="optional">
			<xs:annotation>
				<xs:documentation>The Baz.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.ExternalTypeSample.ExternalTypesFooDemoGroupCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="externalTypesFooDemoSection" type="tns:Samples.Configuration.ExternalTypeSample.ExternalTypesFooDemoSectionCT" />
		</xs:choice>
	</xs:complexType>
</xs:schema>
