sample/Samples-CSharp/Samples.Configuration/InheritanceSample.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Samples.Configuration.InheritanceSample" elementFormDefault="qualified" targetNamespace="urn:Samples.Configuration.InheritanceSample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="schoolRegistrySection" type="tns:Samples.Configuration.InheritanceSample.SchoolRegistrySectionCT" />
	<xs:complexType name="Samples.Configuration.InheritanceSample.SchoolRegistrySectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="professors" type="tns:Samples.Configuration.InheritanceSample.ProfessorsCT">
				<xs:annotation>
					<xs:documentation>The Professors.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="student" type="tns:Samples.Configuration.InheritanceSample.StudentCT">
				<xs:annotation>
					<xs:documentation>The Student Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="schoolName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SchoolName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="abstractProperty" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AbstractProperty.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.InheritanceSample.NamedElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.InheritanceSample.PersonCT">
		<xs:attribute name="yearOfBirth" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The YearOfBirth.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="yearOfDeath" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The YearOfDeath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.InheritanceSample.StudentCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="grades" type="tns:Samples.Configuration.InheritanceSample.GradesCT">
				<xs:annotation>
					<xs:documentation>The Grades.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="yearOfBirth" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The YearOfBirth.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="yearOfDeath" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The YearOfDeath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.InheritanceSample.GradesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="grade" type="tns:Samples.Configuration.InheritanceSample.GradeCT">
				<xs:annotation>
					<xs:documentation>The Grade Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.InheritanceSample.GradeCT">
		<xs:attribute name="grade" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The GradeValue.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="class" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Class.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.InheritanceSample.ProfessorCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="student" type="tns:Samples.Configuration.InheritanceSample.StudentCT">
				<xs:annotation>
					<xs:documentation>The Student Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="yearOfBirth" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The YearOfBirth.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="yearOfDeath" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The YearOfDeath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.InheritanceSample.StudentsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="student" type="tns:Samples.Configuration.InheritanceSample.StudentCT">
				<xs:annotation>
					<xs:documentation>The Student Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.InheritanceSample.ProfessorsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="professor" type="tns:Samples.Configuration.InheritanceSample.ProfessorCT">
				<xs:annotation>
					<xs:documentation>The Professor Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.InheritanceSample.AbstractSectionCT">
		<xs:attribute name="abstractProperty" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AbstractProperty.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
