sample/Samples-CSharp/Samples.Configuration/SharedElementsSample.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Samples.Configuration.SharedElementsSample" elementFormDefault="qualified" targetNamespace="urn:Samples.Configuration.SharedElementsSample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sharedConsumerSection" type="tns:Samples.Configuration.SharedElementsSample.SharedConsumerSectionCT" />
	<xs:complexType name="Samples.Configuration.SharedElementsSample.SharedConsumerSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="myElement" type="tns:Samples.Configuration.SharedElementsSample.ExternalSharedElementCT">
				<xs:annotation>
					<xs:documentation>The MyElement.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.SharedElementsSample.ExternalSharedElementCT">
		<xs:attribute name="foo" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Foo.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="bar" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Bar.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
