sample/Samples-CSharp/Samples.Configuration/ValidationSample.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Samples.Configuration.ValidationSample" elementFormDefault="qualified" targetNamespace="urn:Samples.Configuration.ValidationSample" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="validationSampleSection" type="tns:Samples.Configuration.ValidationSample.ValidationSampleSectionCT" />
	<xs:complexType name="Samples.Configuration.ValidationSample.ValidationSampleSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="foo" type="tns:Samples.Configuration.ValidationSample.FooCT">
				<xs:annotation>
					<xs:documentation>The Foo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="bars" type="tns:Samples.Configuration.ValidationSample.BarsCT">
				<xs:annotation>
					<xs:documentation>The Bars.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="positiveNumber" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The PositiveNumber.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="zipCode" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ZipCode.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="anythingButDots" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AnythingButDots.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.ValidationSample.BarsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="bar" type="tns:Samples.Configuration.ValidationSample.BarCT">
				<xs:annotation>
					<xs:documentation>The Bar Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.ValidationSample.BarCT">
		<xs:attribute name="snap" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Snap.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="crackle" use="required" type="xs:float">
			<xs:annotation>
				<xs:documentation>The Crackle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="noDots" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The NoDots.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Samples.Configuration.ValidationSample.FooCT">
		<xs:attribute name="baz" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Baz.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
